* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    background: #020617;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.buttons a {
    margin: 10px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.section {
    padding: 60px 10%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    padding: 8px 15px;
    background: #020617;
    border-radius: 20px;
}

.project {
    background: #020617;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.project a {
    color: #38bdf8;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
